<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>Materialize-Portfolio</title>
      

       <!-- CSS  -->
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
    
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,700">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="stylesheets/materialize.min.css" type="text/css" media="screen,projection"/>
      <link href="stylesheets/scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen,projection"/>
    </head> 

    <body>
      <header>
        <div class="container">
          <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="fa fa-bars fa-3x fixed-navicon"></i>
          </a>
          <ul id="nav-mobile" class="side-nav fixed side-bar white-text">
            <li class="logo">
              <a id="logo-container"  class="brand-logo white-text">
                <!-- <img height="100" src="images/nik.jpg"> -->
                <object id="front-page-logo" type="image/jpg" width="100" data="images/photo.jpg">Your browser does not support jpg</object>
                <h4 style="font-size: 15px;">Armaanpreet Singh</h4>
                <h6>DBA / Web Developer</h6>
              </a>
            </li><br><br>
            
            <li ><a class="white-text" href="/">Intro&nbsp;&nbsp;<i  class="fa fa-user"></i></a></li>
            <li ><a class="white-text" href="about" >About me&nbsp;&nbsp;<i  class="fa fa-book"></i></a></li>
           
            <li ><a class="white-text" href="project" >Projects&nbsp;&nbsp;<i link="#projects" class="fa fa-file-text"></i></a></li>
             <li ><a class="white-text" href="services" >Services&nbsp;&nbsp;<i link="#portfolio" class="fa fa-th"></i></a></li>
            <li ><a class="white-text" href="contact">Contact&nbsp;&nbsp;<i link="#contact" class="fa fa-envelope"></i></a></li>
            
           
          </ul>
        </div>
      </header>
