<% include partials/header %>
<style>
    html{
      zoom: 125%;
    }
  </style>
<main>
  <div id="introduction" class="section scrollspy">
    <div class="container">
      <div class="row center">
        <div class="col s12 light center header">
          <div id="about" class="sub-section">
            <h4 class="header center-on-small-only">About Me</h4>
            <p>I am student from georgian college in my final semester and graduating at the end of august 2018.
              I work part time at Shared Services Canada.I am passionate about developing utilities that can help the Internet audience irrespective of its age and capabilities. I  love to spend my spare time in identifying the solutions of challenging web problems. I am open for any technical discussion and can be reached via Mail or contact page
              
            <br><br>
            <b>NodeJS | Bootstrap | ASP.net | Drupal(WET)
            | PHP | JavaScript | HTML5 | CSS3 | Java| C# | jQuery | DB2 | SQL
          </b></p>
          </div>

          <div id="role" class="sub-section">
            <p>Current Role :</p>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Jr. DBA/Developer @ Shared Services Canada</div>
                <div class="collapsible-body"><p>Federal govt where I did 
                  two co-op work terms and Now working as a part time employee with them
                </p></div>
              </li> 
            <div class="float-left">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text"> Technician and Marketing Assistant                            
                    
                  </div>
                  <div class="collapsible-body"><p>Liquidation Nation, Barrie .I worked here for 6 Months</p></div>
                </li>

                <li>
                  <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Web developer</div>
                  <div class="collapsible-body"><p>Volunteer at BIHM Dharamshala</p></div>
                </li>
              </ul>
            </div>

            <div class="float-right">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Computer Programming</div>
                  <div class="collapsible-body"><p>Currently enrolled in it at georgian college</p></div>
                </li>
                <li>
                  <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Army public school</div>
                  <div class="collapsible-body"><p>High school</p></div>
                </li>
                
              </ul>
            </div>
            <a id="download-cv" href="/Resume" class="waves-effect waves-light btn-large">Download Resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
        <% include partials/footer %>