<% include partials/header %>
<style>
                html{
                  zoom: 125%;
                }
              </style>
              <main>

                        <div class="divider"></div>

                        <div id="contact" class="section scrollspy">
                          <div class="container center">
                            <div class="row">
                              <div class="col s12 light center header">
                                <h4 class="header center-on-small-only">Contact Me</h4>
                                <form id="contact-form" class="col s12 left" action="contact.php" method="post">
                                  <div class="row">
                                      <div class="input-field col s6">
                                          <input id="contact_name" name="name" type="text" class="validate black-text">
                                          <label for="contact_name" class="black-text"><i class="fa fa-user"></i>&nbsp;&nbsp;Full Name</label>
                                      </div>
                                      <div class="input-field col s6">
                                          <input id="contact_email" name="email" type="email" class="validate black-text">
                                          <label for="contact_email" class="black-text"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email-id</label>
                                      </div>
                                      <div class="input-field col s12">
                                          <textarea id="contact_message" name="message" class="materialize-textarea black-text"></textarea>
                                          <label for="contact_message" class="black-text"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Message</label>
                                      </div>
                                      <div class="center">
                                          <button id="contact_form_submit" class="btn waves-effect waves-light teal lighten-2" type="submit">Submit&nbsp;&nbsp;<i class="fa fa-send"></i>&nbsp;&nbsp;
                                          </button>
                                      </div>
                                  </div>
                                </form>
                              </div>
                              <div class="col s2 pull-s2"></div>
                            </div>
                          </div>
                        </div>
                
                        <div id="contact-success" class="modal">
                          <div class="modal-content">
                            <h4>Alert</h4>
                            <p>Your message has been sent successfully !</p>
                          </div>
                          <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect teal waves-green lighten-2 btn-flat">Close</a>
                          </div>
                        </div>


              </main>
        <% include partials/footer %>