<% include partials/header %>
<style>
  html{
    zoom: 100% !important;
  
}
@media screen and (max-width: 402px) {
 div #ch{
	 
	 background-color:#eee;
                     text-align:center;
                     
                     padding: 5px;
                     padding-left: 50px;
                     padding-right: 60px;
                     margin-top: 50px;
                     width: 450px;
                     margin: auto;
                     border-radius: 3px;"
	 }
}
  
</style>
      <main>
        <div id="introduction" class="section scrollspy">
          <div class="container">
            <div class="row center">
              <div class="col s12 light center header">
                <div id="about" class="sub-section">
                  <h4 class="header center-on-small-only"
                  style="font-weight:bold;"
                 >About Website</h4>
                  <div id="ch" class="col-sm-9 jumbotron"
                     style="background-color:#eee;
                     text-align:center;
                     
                     padding: 5px;
                     padding-left: 50px;
                     padding-right: 60px;
                     margin-top: 50px;
                     width: 450px;
                     margin: auto 100px auto 350px;
                     border-radius: 3px;">
                  <p style="font-family: 'Lato', 'sans-serif';
                  font-size: 21px;
                  font-weight: 200;">Thanks for visiting at the website.This website is made using Node.js,
                      the Express.js framework, Materialize CSS, and the EJS Template System.
                      This include the work experience and practical work links.
                      Site Deployment is done using Github and Azure.
                      </p>
                    </div>
                  <br><br>
                
                </div>
              </div>
            </div> 
          </div>
        </div>
          
          <% include partials/footer %>
