<% include partials/header %>
<style>
                html{
                  zoom: 125%;
                }
.project{
        height: 150px;
        width: 150px;
}

              </style>
              <main>
                    
                          <div class="col s12 light center header">
                        <h4 class="header center-on-small-only">Projects</h4>
                      <div class="col-lg-4">
                 <img class="img-circle project" src="images/ssclogo.png" title="Healthscore">
                   <h4>Risk Register</h4>
                        <p>SSC Risk Reporting Web App</p>
                  <a href="http://rsingh.azurewebsites.net/welcome.html" class="btn btn-warning">View Site &gt;&gt;</a>
                        </div>
                      
                   <div class="col-lg-4" >
         <img class="img-circle project" src="images/roleslogo.png" title="Healthscore">
         <h4>Canada.ca </h4>
          <p>Household Food Insecurity</p>
                          
        <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/household-food-insecurity-canada-overview/household-food-insecurity-canada-2007-2008-key-statistics-graphics-food-nutrition-surveillance-health-canada.html" class="btn btn-warning">Visit site &gt;&gt;</a>                 </div>
                 <div class="col-lg-4"  >
                  <img class="img-circle project" src="images/logo.png" title="Cannabis">
                  <h4>Canada.ca </h4>
                   <p>Cannabis Producers</p>
                                   
                 <a href="https://www.canada.ca/en/health-canada/services/drugs-medication/cannabis/industry-licensees-applicants/licensed-cultivators-processors-sellers.html" class="btn btn-warning">View Site &gt;&gt;</a>                
                 </div>
                                           
        

                <br>
                
                         <div class="col-lg-4" >
                          <img class="img-circle project" src="images/flexlogo.png" title="Olympic">
                          <h4>Flex Panel</h4>
                           <p>Click On image In web For fun</p>
                                           
                         <a href="https://flexpanel.azurewebsites.net/" class="btn btn-warning">View Site &gt;&gt;</a>                 </div>
                                           
                         
                                 
                                 
                                  <div class="col-lg-4" >
                          <img class="img-circle project" src="images/drupal.png" title="athletes">
                          <h4>Ramans Academy</h4>
                           <p>Academy(Drupal)</p>
                                           
                         <a href="http://dev-ramanathletes.pantheonsite.io/" class="btn btn-warning">View Site &gt;&gt;</a>                 </div>
                                           
                         
                                 
                </div>
               
                
             </main>
