<% include partials/header %>
<style>
                html{
                  zoom: 125%;
                }
.project{
        height: 150px;
        width: 150px;
}
              </style>
              <main>
                    
                          <div class="col s12 light center header">
                        <h4 class="header center-on-small-only">Projects</h4>
                      <div class="col-lg-4">
                 <img class="img-circle project" src="images/ssclogo.png" title="Healthscore">
                   <h4>Risk Register</h4>
                        <p>SSC Risk Reporting Web App</p>
                  <a href="http://rsingh.azurewebsites.net/welcome.html" class="btn btn-warning">View Site &gt;&gt;</a>
                        </div>
                        <div class="col-lg-4" >
                    <img class="img-circle project" src="images/bihmlogo.png" title="Healthscore">
                  <h4>BIHM</h4>
                   <p>Hotel management School</p>
              
                   <a href="http://bihmltd.com" class="btn btn-warning">View Site &gt;&gt;</a>                 </div>
                   <div class="col-lg-4" >
         <img class="img-circle project" src="images/roleslogo.png" title="Healthscore">
         <h4>SSC Roles </h4>
          <p>SSC all level of roles and Proficiencies</p>
                          
        <a href="#" class="btn btn-warning">View Site &gt;&gt;</a>                 </div>
                          
        
                </div>
                </div>
               
                
             