<% include partials/header %>
<style>
    html{
      zoom: 125%;
    }
  </style>
      <main>
        
        <div id="projects" class="section scrollspy">
          <div class="container center">
            <div class="row">
              <div class="col s12 light center header">
                <h4 class="header center-on-small-only">Services</h4>

                <div id="industrial" class="sub-section">
                 
                  <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Database Management</div>
                    </li>
                    <li>
                      <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Web Development</div>
                     </li>
                    <li>
                      <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Project Management</div>
                     </li>
                    <li>
                      <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Mainframe DB2</div>
                     </li>
                    <li>
                      <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">Web Design</div>
                     </li>
                    <li>
                      <div class="collapsible-header waves-effect waves-light teal lighten-2 white-text">E-Commerce Marketing</div>
                    </li>
                  </ul>
                </div>

                
              </div>
            </div>
          </div>
        </div>
        <% include partials/footer %>